<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body class="body">
    <header class="header">
      <h1>URL Shoretener</h1>
    </header>
