
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body class="body">
    <header class="header">
      <h1>URL Shoretener</h1>
    </header>
    <form action="/shorturl" method="POST">
      <input class="input" type="text" name"url" placeholder="put your url here"/>
      <button type="submit"><small>Submit</small></button>
    </form>
  </body>
</html>
