
<% include header %>
    <form action="/shorturl" method="POST">
      <input class="input" type="text" name="url" placeholder="put your long url here" required>
      <button type="submit"><small>Submit</small></button>
    </form>
<% include shortenlink %>
